.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 96px 24px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 32px;
  min-width: 0;
}
.text__cy5M8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.h2__zEkhb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__ynxCa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.h2__tgtUh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text___0IIx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.ul {
  display: flex;
  flex-direction: column;
}
.li__mz2Lp {
  font-family: "Ledger", serif;
}
.h2__kjP1K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__u8N2N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__wgY6J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.text__quore {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  min-width: 0;
}
.text__zGCv9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 24px;
  min-width: 0;
}
.text__lumwx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #5600f5;
  text-align: center;
  min-width: 0;
}
.text__rGmB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 900;
  min-width: 0;
}
.text__tqwr0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 0px;
  font-style: italic;
  text-decoration-line: line-through;
  min-width: 0;
}
.text__rk9Ir {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  font-family: Just Another Hand;
  font-size: 29px;
  text-align: right;
  min-width: 0;
}
